<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}

    {% endblock %}</title>
</head>
<body>
    <h3 >
        <div >
            <a href="{% url "index" %}"> <img width="20%" height="10%" src="{% static "orders/index.jpeg" %}" alt="home"></a>
        </div>

        {% if menu %}
            <div style="text-align: right">
            <a href="{% url "basket" %}"> Basket -- {{  basket_items }} products.</a>

            </div>
        {% endif %}
    </h3>

{% block content %}

{% endblock %}

</body>
</html>