{% extends "orders/base.html" %}

{% block title %}
    Basket
{% endblock %}

{% block content %}

    <h2> You have chacked: </h2>
    {% for item in basket %}
        <div> {{ forloop.counter }}.
            {{ item.cathegory }} - {{ item.product }}
            {% if item.addons %} with [
                {% for addon in item.addons %}
                    {{ addon }},
                {% endfor %}
            ]
            {% endif %}

            {{ item.price }} $
            <a href="{% url "remove_form_basket"  forloop.counter0%} "> Remove </a>
        </div>

    {% endfor %}
    <form action="{% url 'submit' %}" method="post">
        {% csrf_token %}
        {% if not user.is_authenticated %}
        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="tel" required>
        <span class="note">Format: 123-456-7890</span>
        {% endif %}
        <p>
            <input type="submit" value="Замовити">
        </p>
    </form>

{% endblock %}