{% extends "orders/base.html" %}

{% block title %}
 Menu
{% endblock %}

{% block content %}
{% for cathegory in cathegory_list %}
    <h2><a href="{% url "add_to_basket" cathegory.id%}">
        {{ cathegory.name }}

    </a>
    </h2>
    <ul>
    {% if cathegory.product_set.all.first.large%}
    <p>
        <b>small,     large</b>
    </p>
    {% endif %}
    {% for product in cathegory.product_set.all %}
        <li> {{ product.name }} - {{ product.price }}
            {% if product.large %}
                {{ product.price1 }}
            {% endif %}
        
        </li>
    {% endfor %}

    {% if cathegory.addons_set.first %}
        <h2>Addons:</h2>
    {% endif %}
    {% for addon in cathegory.addons_set.all %}
        <p>
            {{ addon.name }}
        </p>
    {% endfor %}
    </ul>
<hr>
{% endfor %}


{% endblock %}