{% extends "orders/base.html" %}

{% block title %}
    Add to Dish to basket
{% endblock %}

{% block content %}

    <h2>{{ cathegory.name }}</h2>
    <ul>
    {% if cathegory.product_set.all.first.large%}
    <p>
        <b>small,     large</b>
    </p>
    {% endif %}
    {% for product in cathegory.product_set.all %}
        <li> {{ product.name }} - {{ product.price }}
            {% if product.large %}
                {{ product.price1 }}
            {% endif %}

        </li>
    {% endfor %}

        <form action="" method="post">

            {% if cathegory.product_set.first.large %}
                <label>
                    <H4>Large
                        <input type="checkbox" name="large" value='1'>
                    </H4>
                </label>
            {% endif %}
            <input type="hidden" name="cathegory" value="{{ cathegory.id }}">

            {% if cathegory.addons_set.all %}
                <input type="hidden" name="product" value="{{ cathegory.product_set.first.id }}">

            {% endif %}

            {% if cathegory.addons_set.all  %}
                {% for addons in cathegory.addons_set.all %}
                    <p>

                        <label> {{ addons.name }}
                            <input type="checkbox"
                                   name="addon"
                                   value="{{ addons.id}}">
                        </label>
                    </p>


                {% endfor %}
            {% else %}
                {% for product in cathegory.product_set.all %}
                    </p>
                    <label>
                        <input type="radio" name="product" value={{ product.id }}>
                        {{ product.name }}
                        </label>
                    <p>

                {% endfor %}

            {% endif %}

{#        {{ form.as_p }}#}
        {% csrf_token %}
        <input type="submit" value="Замовити">
    </form>
{% endblock %}